.header{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 5px 20px 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid blue;
}
.header_title {
    font-weight: bold;
    font-size: 20px;
}